.loginForm {
  width: 100%;
  max-width: 320px;
  padding: 2rem 1rem;
  border-radius: 0.25em;
  background-color: #ffffff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  text-align: center;

  &::first-letter {
    text-transform: uppercase;
  }
}

.toggle {
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 0.55rem;
}

.formError {
  display: block;
  margin-bottom: 0.5em;
  color: #ff6347;
}

.forgotLink {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 0.875rem;
}

.submit {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.label {
  margin-bottom: 0.25rem;
}

.signUpText {
  display: block;
  font-size: 0.875rem;
  text-align: center;
}

.modeLink {
  display: inline-block;

  &::first-letter {
    text-transform: uppercase;
  }
}
