.loginForm {
  min-width: 320px;
  padding: 1.5rem 1rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.25em;
  background-color: var(--color-white);
  box-shadow: var(--shadow-sm);
}

.title {
  font-size: 24px;
  text-align: center;

  &::first-letter {
    text-transform: uppercase;
  }
}

.toggle {
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 0.55rem;
}

.inputError {
  margin-bottom: 0.75em;
  color: var(--color-red-600);
}

.formError {
  display: block;
  margin-bottom: 0.5em;
  color: var(--color-red-600);
}

.forgotLink {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 0.875rem;
}

.submit {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.googleButton {
  margin-top: 3rem;
}

.label {
  margin-bottom: 0.25rem;
}

.signUpText {
  display: block;
  font-size: 0.875rem;
  text-align: center;
}

.modeLink {
  display: inline-block;

  &::first-letter {
    text-transform: uppercase;
  }
}
