.loginForm {
  position: relative;
  width: 100%;
  max-width: 320px;
  padding: 2rem 1rem;
  border-radius: 0.25em;
  background-color: #ffffff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);

  &::after {
    content: '';
    transition: transform 1s ease;
  }

  &.success {
    &::after {
      content: '';
      position: fixed;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffffff;
      transform: translate(-50%, -50%) scale(300);
    }
  }
}

.title {
  font-size: 24px;
  text-align: center;
}

.toggle {
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 0.55rem;
}

.forgotLink {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 0.875rem;
}

.submit {
  margin-bottom: 1.5rem;
}

.label {
  margin-bottom: 0.25rem;
}

.signUpText {
  display: block;
  font-size: 0.875rem;
  text-align: center;
}
