.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  padding: 0.625em 0.75em;
  border: 0;
  border-radius: 0.25em;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;

  &.main {
    background-image: var(--main-gradient);
    background-size: 200% 100%;
    color: #ffffff;
    transition: background-position 0.2s ease, color 0.1s ease;

    &:hover {
      background-position: 100% 0;
    }
  }

  &.white {
    border: 1px solid var(--color-gray-300);
    background-color: var(--color-white);
    color: var(--color-gray-900);

    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &.black {
    background-color: var(--color-black);
    color: var(--color-white);

    &:hover,
    &:focus-visible {
      background-color: var(--color-gray-800);
    }
  }

  &.loading {
    position: relative;
    color: transparent;
    cursor: not-allowed;

    &:hover {
      background-position: initial;
    }
  }

  &.loading::after {
    @keyframes spin {
      0% {
        border-color: #ffffff;
        border-top-color: transparent;
        transform: translate(-50%, -50%) rotate(0deg);
      }

      100% {
        border-color: #ffffff;
        border-top-color: transparent;
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }

    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
  }
}

.icon {
  display: flex;
  align-items: center;

  &.left {
    margin-right: 0.5em;
  }

  &.right {
    margin-left: 0.5em;
  }
}

.wide {
  width: 100%;
}
