.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.center {
    justify-content: center;
    align-items: center;
  }
}

.wrapper {
  display: flex;
  flex: 1;
}

.loader {
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  animation: rotate 1s ease infinite;
}

.main {
  &.center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  padding: 1rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--color-blue-600);

  &:hover {
    color: var(--color-blue-700);
  }
}
