@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.fadeIn {
    animation: fadeIn 0.3s ease;
  }
}

.wrapper {
  display: flex;
  flex: 1;
}

.footer {
  padding: 1rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #e4236a;
}
