* {
  box-sizing: border-box;
}

:root {
  --main-gradient: linear-gradient(to left, #9b05b6, #e4236a);
  --main-gradient-reverse: linear-gradient(to right, #9b05b6, #e4236a);
}

html {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
