.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--color-blue-600);

  &:hover,
  &:focus-visible {
    color: var(--color-blue-700);
  }

  &[aria-current='page'] {
    border-bottom: 2px solid var(--color-blue-700);
    color: var(--color-blue-700);
  }
}
